<%= form_with scope:
 :case,  url:case_create_path, local: true do |form| %>

<p>Case Reporter Page</p>

<p>Name:</p>
<p>
<%= form.text_field :name %>
</p>

<p>Case:</p>
<p>
<%= form.text_area :case %>
</p>


<p>Blood Type</p>
<p>
<%= form.radio_button(:blood_type, "A")%>
<%= form.label(:bloodA, "A")%>

<%= form.radio_button(:blood_type, "B")%>
<%= form.label(:bloodB, "B")%>


<%= form.radio_button(:blood_type, "AB")%>
<%= form.label(:bloodAB, "AB")%>


<%= form.radio_button(:blood_type, "O")%>
<%= form.label(:bloodO, "O")%>

</p>

<p>Gender</p>
<p>
<%= form.radio_button(:gender, "Female")%>
<%= form.label(:female, "Female")%>


<%= form.radio_button(:gender, "Male")%>
<%= form.label(:male, "Male")%>

</p>
<p>
   <%= form.submit %>
</p>

<% end %>
<div>
 <% @cases.each do |c| %>
    <p><%= c.name %>
    <p><%= c.case %>
    <p><%= c.gender %>
    <p><%= c.blood_type %>
<%= link_to 'Edit', edit_case_path(c) %>
<%= link_to 'Delete', case_path(c), method: 
    :delete, data:{confirm: 'Are you sure?'} %>
<% end %>
<p>
</div>

